<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/IndexStile.css" /> 
    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <nav class="nav">
        <a href="#" class="nav_logo">EvaluaPlus</a>
        <button class="button" id="form-open">Login</button>
      </nav>
    </header>
    <!-- Home -->
    <section class="home">
      <!-- Cube -->
      <div class="container">
        <div class="cube">
            <div style="--x:-1;--y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0;--y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1;--y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
        <div class="cube">
            <div style="--x:-1;--y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0;--y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1;--y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
        <div class="cube">
            <div style="--x:-1;--y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0;--y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1;--y:0;">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
    </div>
      <div class="form_container">
        <i class="uil uil-times form_close"></i>
        <!-- Login Form -->
        <div class="form login_form">
          <form action="/Consulta" method="POST">
            <h2>Login</h2>
            <div class="input_box">
              <input type="email" id="correo" name="correo" placeholder="Ingresa tu Email" required />
              <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
              <input type="password"id="contrasena" name="contraseña" placeholder="Ingresa tu Contraseña" required />
              <i class="uil uil-lock password"></i>
              <i class="uil uil-eye-slash pw_hide"></i>
            </div>
            <button type="submit" class="button">Iniciar Sesion</button>
          </form>
        </div>
      </div>
    </section>
    <!-- Login Hide/Show Script -->
    <script src="/js/javapro/script.js"></script>
  </body>
</html>