<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Formulario</title>
</head>
<body>
    <div class="container">
<<<<<<< Updated upstream
        <h1>EvaluaPlus </h1>
        <form method="POST" action="/encuesta">
            <div class="form-group">
                <label for="nombreSoftware">Nombre del Software:</label>
                <input type="text" class="form-control" id="nombreSoftware" name="nombreSoftware">
=======
        <div class="title">EvaluaPlus</div>
        <div class="content">
          <form action="/encuesta">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Nombre del Software</span>
                <input type="text" id="nombreSoftware" name="nombreSoftware" required>
              </div>
              <div class="input-box">
                <span class="details">Fecha Programada:</span>
                <input type="date" class="form-control" id="fechaProgramada" name="fechaProgramada" required>
              </div>
              <div class="input-box">
                <span class="details">Tecnologia Programada:</span>
                <input type="text" class="form-control" id="tecnologiaProgramada" name="tecnologiaProgramada" required>
              </div>
>>>>>>> Stashed changes
            </div>

            <div class="form-group">
                <label for="tipoSoftware">Tipo de Software:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="academico" name="tipoSoftware" value="1">
                    <label class="form-check-label" for="academico">Académico</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="investigacion" name="tipoSoftware" value="2">
                    <label class="form-check-label" for="investigacion">Investigación</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="bancario" name="tipoSoftware" value="3">
                    <label class="form-check-label" for="bancario">Bancario</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="comercial" name="tipoSoftware" value="4">
                    <label class="form-check-label" for="comercial">Comercial</label>
                </div>
            </div>
            

            <div class="form-group">
                <label for="fechaProgramada">Fecha Programada:</label>
                <input type="date" class="form-control" id="fechaProgramada" name="fechaProgramada">
            </div>

            <div class="form-group">
                <label for="tecnologiaProgramada">Tecnología Programada:</label>
                <input type="text" class="form-control" id="tecnologiaProgramada" name="tecnologiaProgramada">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>







