HTML

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="container">
        <div class="title">EvaluaPlus</div>
        <div class="content">
          <form action="#">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Nombre del Software</span>
                <input type="text" id="nombreSoftware" name="nombreSoftware" required>
              </div>
              <div class="input-box">
                <span class="details">Fecha Programada:</span>
                <input type="date" class="form-control" id="fechaProgramada" name="fechaProgramada" required>
              </div>
              <div class="input-box">
                <span class="details">Tecnologia Programada:</span>
                <input type="text" class="form-control" id="tecnologiaProgramada" name="tecnologiaProgramada" required>
              </div>
            </div>
            <div class="copy-details">
              <input type="radio" name="tipoSoftware" id="academico" value="1">
              <input type="radio" name="tipoSoftware" id="investigacion" value="2">
              <input type="radio" name="tipoSoftware" id="bancario" value="3">
              <input type="radio" name="tipoSoftware" id="comercial" value="4">
              <span class="gender-title">Tipo de Software</span>
              <div class="category">
                <label for="academico">
                <span class="dot one"></span>
                <span class="label-cat">Academico</span>
              </label>
              <label for="investigacion">
                <span class="dot two"></span>
                <span class="label-cat">Investigacion</span>
              </label>
              <label for="bancario">
                <span class="dot three"></span>
                <span class="label-cat">Bancario</span>
              </label>
              <label for="comercial">
                <span class="dot four"></span>
                <span class="label-cat">Comercial</span>
              </label>
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Enviar">
            </div>
          </form>
        </div>
      </div>
</body>
</html>

