   /* Agrega estilos CSS para controlar el tamaño y el margen de las gráficas */

   @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;

   }

 
   body {
    margin: 0;
    padding: 0;
  }

canvas {
    max-width: 75%;
    max-height: 700px;/* Máximo ancho de la gráfica */
    margin-bottom: 20px; /* Margen inferior entre gráficas */
    background-color: white;
    position: relative;
    left: 15vh;
    margin-top: 50px;
    font-size: 100px;
}


.imagen {
    position: absolute;
    top: 134px;
    border-radius: 50%;
    width: 350px;
    right: 150px;
}


.titulos{
  
    background-color: #7e41a4;
    width: 100%;
    height: 75vh;
    top: 0;
}

.titulos,h1{
   
    font-size: 4.5rem;
    color: white;
    text-align: center;
    
  
}
h3,h2{
    
  font-size: 2.5rem;
  text-align: left;
  margin-left: 45px;
 
 color: white;
}

h5{

    font-size: 1.9rem;
    text-align: left;
    margin-left:100px;
  
  }
  
  h4{

    font-size: 1.9rem;
    text-align: left;
    margin-left:100px;
    margin-top: 100px;
    color: whitesmoke;

  }

.tituloG{
    text-align: center;
    margin-top: 150px;

}

.Contenido{
 
   
    background-color: #6b3091;


}

.cont1{
    position: relative;
    height: 40vh;
    width: 100%;
  
    align-items: center;
    margin-top: 50px;
    background-color: azure;
    text-align: left;

}